/**
 * JS workshop
 */

html {
    height: 100%;
}

body {
    padding-left: 1em;
    font-family: 'proxima_novalight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    min-height: 80%;
}

h1, p {
    text-align: center;
}

.submenu {
    padding-left: 2em;
    list-style: disc;
    display: none;
}

.submenu--visible {
    display: block;
}

div.all_demos {
    width: 90%;
    margin: 0 auto;
    display: block;
}

div.demo_entry {
    width: 100%;
    margin: 0 5px 10px;
    display: block;
    float: left;
    border: 1px solid darkgray;
    min-height: 120px;
    background-color: white;
    text-align: center ;
    font-size: 1.25em;
}

div.demo_standard_entry {

}

div.pending_demo_entry {
    background-color: gray;
    cursor: not-allowed;
}

div.demo_title_entry {

}

div.demo_title_entry:hover {
    background-color: white !important;
}

div.demo_entry a {
    font-size: 2em;
}

div.demo_show_more {
    max-height: 80px;
    border: none;
}

div.left_cell,
div.right_cell {
    display: block;
    float: left;
    width: 50%;
    min-height: 120px;
}
div.left_cell:hover,
div.right_cell:hover {
    background-color: deepskyblue;
}

div.demo_entry:hover,
.demo_button:hover {
    background-color: darkolivegreen;
    cursor: pointer;
}

/*div#homepage_slider {*/
    /*display: hidden;*/
/*}*/

div#homepage_slider {
    display: none;
    /*height: 1010px;*/
    background-color: snow;
}

div#homepage_loading img {
    margin: 0 auto;
    display: block;

}