/**
 * JS workshop
 */

html {
    height: 100%;
}

body {
    padding-left: 1em;
    font-family: 'proxima_novalight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    min-height: 80%;
}

.submenu {
    padding-left: 2em;
    list-style: disc;
    display: none;
}

.submenu--visible {
    display: block;
}

div.demos_all {
    width: 90%;
    margin: 0 auto;
    display: block;
}

div.demos_entry {
    width: 100%;
    margin: 0 5px;
    display: block;
    float: left;
}