/**
 * JS workshop
 */

html {
    height: 100%;
}

body {
    padding-left: 1em;
    font-family: 'proxima_novalight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    min-height: 80%;
}

.submenu {
    padding-left: 2em;
    list-style: disc;
    display: none;
}

.submenu--visible {
    display: block;
}
